<div class="intro-header banner-home">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1><%= t ".your_secret" %></h1>
          <% if user_signed_in? %>
            <%= link_to "create_post", new_post_path,
              class: "create-post btn btn-sm btn-primary" %>
          <% end %>
          <span class="subheading"><%= t ".quote" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% if @feed_items.any? %>
          <ul class="post-preview" id="my-items">
            <%= render @feed_items %>
          </ul>
          <div id="infinite-scrolling">
            <%= paginate @feed_items %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
