<div class="user-info-row">
  <div class="user-avatar">
    <%= link_to image_tag(@user.avatar.url, class: "avatar-show"), @user %>
  </div>
  <div class="user-name">
    <div><%= link_to @user.name, @user %></div>
    <div><%= @user.email %></div>
  </div>
</div>
<div class="user-info-row">
  <% if current_user == @user %>
    <%= link_to t(".edit"), edit_user_registration_path(@user),
      class: "btn btn-primary button_text" %>
  <% end %>
  <% if user_signed_in? %>
    <%= render "follow_form" %>
  <% end %>
</div>
<div class="sidebar">
  <%= link_to t(".following"), following_user_path(@user) %>
  <strong id="following"><%= @user.following.size %></strong>
  <%= link_to t(".followers"), followers_user_path(@user) %>
  <strong id="followers"><%= @user.followers.size %></strong>
</div>
