<div class="sidebar">
  <div class="sidebar-wrapper fix-background">
    <div class="logo">
      <span class="fix-logo"><%= link_to t(".framgia_project2"), "#" %></span>
    </div>
    <ul class="nav">
      <li>
        <%= link_to "#" do %>
          <span><i class="pe-7s-graph"></i><%= t ".dashboard" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <span><i class="pe-7s-user"></i><%= t ".user" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <span><i class="pe-7s-news-paper"></i><%= t ".posts" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <span><i class="pe-7s-note"></i><%= t ".tag" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <span><i class="pe-7s-bell"></i><%= t ".notifications" %></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
