<div class="container">
  <div class="row">
    <span>
      <%= t ".posts" %>(<%= @posts.total_count %>)
    </span>
    <p>
      <%= t ".download" %>:
      <%= link_to t(".csv"), admin_posts_path(format: "csv") %> |
      <%= link_to t(".excel"), admin_posts_path(format: "xls") %>
    </p>
    <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
      <% if @posts.any? %>
        <ul class="post-preview" id="my-posts">
          <%= render @posts %>
        </ul>
      <% end %>
      <div id="infinite-scrolling">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
