<header class="intro-header" style="background-image: url(<%= @post.picture %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h2><%= @post.title %></h2>
          <span class="meta"><%= t ".post_by" %> <%= link_to @post.user.name, "#" %>
            <%= t ".on" %> <%= @post.created_at %></span>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading"></h2>
        <p><%= raw @post.content %></p>
      </div>
    </div>
  </div>
</article>
