<header class="intro-header banner-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <span class="meta">Posted by <%= link_to @post.user.name, "#" %> on <%= @post.created_at %></span>
          <span><i class="fa fa-tags"></i> Popular Tags: <span class="badge badge-info">
            <%= @post.all_tags %></span></span>
        </div>
      </div>
    </div>
  </div>
</header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2 class="section-heading"></h2>
          <p><%= raw @post.content %></p>
        </div>
      </div>
    </div>
  </article>
