<header class="intro-header" style="background-image: url(<%= @post.picture %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading word-break">
          <h2><%= @post.title %></h2>
          <span class="meta"><%= @post.updated_at.strftime(Settings.post.date) %></span>
          <% if @post.tags.any? %>
            <span>
              <i class="fa fa-tags"></i><%= t ".tags" %>:
              <span class="badge badge-info">
                <% @post.tags.each do |tag| %>
                  <%= link_to tag.name, tag %>,
                <% end %>
              </span>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
        <h2 class="section-heading"></h2>
        <span class="word-break"><%= raw @post.content %></span>
        <span>
          <% if can? :update, @post %>
            <%= link_to t(".edit"), edit_post_path(@post),
              class: "btn btn-primary button_text" %>
            <%= link_to t(".delete"), @post, method: :delete,
              data: {confirm: t(".sure")}, class: "btn btn-danger button_text" %>
          <% end %>
        </span>
        <hr>
        <h2><%= t ".comment" %></h2>
        <div>
          <%= render partial: "comments/form_comment" %>
        </div>
        <div class="comment-list" id="comment_list">
          <%= render partial: "comments/comment", collection: @post.comments %>
        </div>
      </div>
      <div>
        <div class="user-info-row">
          <div class="user-avatar">
            <%= link_to image_tag(@post.user.avatar.url, class: "avatar-show"), @post.user %>
          </div>
          <div class="user-name">
            <div><%= link_to @post.user.name, @post.user %></div>
            <div><%= @post.user.email %></div>
          </div>
        </div>
        <div class="user-info-row">
          <% if current_user == @post.user %>
            <%= link_to t(".edit"), edit_user_registration_path(@post.user),
              class: "btn btn-primary button_text" %>
          <% end %>
        </div>
        <div class="sidebar">
          <%= link_to t(".following"), following_user_path(@post.user) %>
          <strong id="following"><%= @post.user.following.size %></strong>
          <%= link_to t(".followers"), followers_user_path(@post.user) %>
          <strong id="followers"><%= @post.user.followers.size %></strong>
        </div>
        <div><%= social_share_button_tag @post.title, url: request.original_url %></div>
      </div>
    </div>
  </div>
</article>
