<tr id="<%= user.id %>">
  <td>
    <%= link_to user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.posts.size %>
  </td>
  <td>
    <% if current_user.admin? %>
      <%= link_to t(".delete"), admin_user_path(user), method: :delete, remote: true,
        data: {confirm: t(".sure")}, class: "btn btn-danger button_text" %>
    <% end %>
  </td>
</tr>
