<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
          <%= t ".menu" %><i class="fa fa-bars"></i>
      </button>
      <%= link_to t(".framgia"), root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t(".users"), "#" %></li>
        <li><%= link_to t(".posts"), "#" %></li>
        <li><%= link_to t(".tags"), "#" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), "#" %></li>
              <li><%= link_to t(".settings"), edit_user_registration_path(current_user) %></li>
              <li>
                <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to t(".signup"), "#signup", "data-toggle" => "modal",
              "data-target" => "#signup", class: "btn btn-small" %>
          </li>
          <li>
            <%= link_to t(".login"), "#login", "data-toggle" => "modal",
              "data-target" => "#login", class: "btn btn-small" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
